@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
.active {
  border-bottom: 1px solid white;
  font-weight: 500;
  text-decoration: underline;
} */

.hoverA a:hover {
  font-style: oblique;
  font-weight: 700;
}
